In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.charts as bk
import bokeh.plotting as plot

data = pd.read_table("CalStateMBvsUCSD.txt", delimiter = '\t')
del data["HOME TEAM: UC San Diego"]
del data["VISITORS: Cal State Monterey Bay"]
del data["Score"]

time = []
for row in data['Time']:
    
    row = row.replace(":",".")
    row = float(row)
    
    time.append(row)
data['Time'] = time

timechange = []

i=0
for row in data['Time']:
    if i < 173:
        row = row + 20
        timechange.append(row)
    else:
        timechange.append(row)
    i = i + 1

data['Time'] = timechange
    

data = data.dropna(0)
data = data.reset_index()
del data["index"]


margin = []
for row in data['Margin']:

    a,b = row.split(" ")
    
    if a == "V":
        b = int(b*(-1))
    
    row = b
    
    margin.append(b)
    
data['Margin'] = margin  


tb = pd.DataFrame( data = [data['Time'], data['Margin']])

tb = tb.transpose()


#plt.plot( x = 'Time', y = 'Margin')
#plt.show()


fig = plt.plot(tb["Time"],tb["Margin"], 'b-')
fig = plt.scatter(tb["Time"],tb["Margin"], color='green')

plt.ylim(0,35)
plt.xlim(40,0)
plt.xticks(fontsize = 13)
plt.yticks(fontsize = 13)
plt.ylabel('Score Differential', fontsize = 17, color = 'black')
plt.xlabel('Time (minutes, decreasing)', fontsize = 17, color = 'black')
plt.plot([20, 20], [0, 35], 'y--', lw=2)
plt.title('Cal State Monterey Bay vs. UC San Diego (Men)', fontsize = 20)

plt.show(fig)
#plt.savefig('mendemoyellow.png', transparent=True)

In [135]:
data = pd.read_table("wCalStateMBvsUCSD.txt", delimiter = '\t')
del data["HOME TEAM: UC San Diego"]
del data["VISITORS: Cal State Monterey Bay"]
del data["Score"]

time = []
for row in data['Time']:
    
    row = row.replace(":",".")
    row = float(row)
    
    time.append(row)
data['Time'] = time

data

     Time Margin
0    9.46    H 2
1    9.33    NaN
2    9.20    NaN
3    9.03    V 1
4    9.03    NaN
5    8.47    NaN
6    8.23    NaN
7    8.08    H 1
8    7.43    NaN
9    7.43    NaN
10   7.40    V 1
11   7.22    NaN
12   7.22    NaN
13   7.22    T 1
14   7.12    NaN
15   6.54    H 2
16   6.54    NaN
17   6.32    NaN
18   6.32    NaN
19   6.32    NaN
20   6.17    H 4
21   6.17    NaN
22   6.00    NaN
23   5.58    NaN
24   5.54    H 6
25   5.39    NaN
26   5.13    H 8
27   4.49    H 6
28   4.30    NaN
29   4.30    NaN
..    ...    ...
345  2.44    NaN
346  2.39    NaN
347  2.17   H 21
348  2.17    NaN
349  2.17   H 22
350  2.17    NaN
351  2.17    NaN
352  2.17    NaN
353  2.17    NaN
354  2.17    NaN
355  2.17    NaN
356  1.56   H 20
357  1.56    NaN
358  1.45    NaN
359  1.44    NaN
360  1.27    NaN
361  1.27    NaN
362  1.23    NaN
363  1.22    NaN
364  1.12   H 21
365  1.12   H 22
366  1.12    NaN
367  1.12    NaN
368  1.02    NaN
369  0.57   H 24
370  0.57    NaN
371  0.41    NaN
372  0.37    NaN
373  0.37    NaN
374  0.30   H 22

[375 rows x 2 columns]

In [131]:
timechange = []
i=0
for row in data['Time']:
    if i < 72:
        row = row + 30
        timechange.append(row)
    elif i < 168:
        row = row + 20
        timechange.append(row)
    elif i < 280:
        row = row + 10
        timechange.append(row)
    else:
        timechange.append(row)
        
    i = i + 1

data['Time'] = timechange

data = data.dropna(0)
data = data.reset_index()
del data["index"]


margin = []
for row in data['Margin']:

    a,b = row.split(" ")
    
    if a == "V":
        b = int(b)
        b = int(b*(-1))
        
    elif a == "T":
        b = int(0)
    
    else:
        b = int(b)
        
    row = b
    
    margin.append(b)
    
data['Margin'] = margin  


wtb = pd.DataFrame( data = [data['Time'], data['Margin']])

wtb = wtb.transpose()

fig = plt.plot(wtb["Time"],wtb["Margin"], 'b-')
fig = plt.scatter(wtb["Time"],wtb["Margin"], color='green')

plt.ylim(-10,30)
plt.xlim(40,0)
plt.xticks(fontsize = 13)
plt.yticks(fontsize = 13)
plt.ylabel('Score Differential', fontsize = 17, color = 'black')
plt.xlabel('Time (minutes, decreasing)', fontsize = 17, color = 'black')
plt.plot([10, 10], [-10, 30], 'r--', lw=2)
plt.plot([20, 20], [-10, 30], 'r--', lw=2)
plt.plot([30, 30], [-10, 30], 'r--', lw=2)
plt.plot([40,0], [0,0], 'k-', lw=1)
plt.title('Cal State Monterey Bay vs. UC San Diego (Women)', fontsize = 20)

plt.show(fig)
#plt.savefig('womendemored.png', transparent=True)