In [324]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_table("CalStateMBvsUCSD.txt", delimiter = '\t')
del data["HOME TEAM: UC San Diego"]
del data["VISITORS: Cal State Monterey Bay"]
del data["Score"]

time = []
for row in data['Time']:
    
    row = row.replace(":",".")
    row = float(row)
    
    time.append(row)
data['Time'] = time

timechange = []

i=0
for row in data['Time']:
    if i < 173:
        row = row + 20
        timechange.append(row)
    else:
        timechange.append(row)
    i = i + 1

data['Time'] = timechange

data = data.dropna(0)
data = data.reset_index()
del data["index"]


margin = []
for row in data['Margin']:

    a,b = row.split(" ")
    
    if a == "V":
        b = b*(-1)
    
    row = b
    
    margin.append(b)
    
data['Margin'] = margin  


tb = pd.DataFrame( data = [data['Time'], data['Margin']])

tb = tb.transpose()


#plt.plot(x = tb['Time'], y = tb['Margin'])
#plt.show()

x = tb['Time']
y = tb['Margin']


plt.figure(); tb.plot(x = x, y = y);
#plt.show()

0     39.31
1     38.56
2     38.07
3     37.47
4     37.27
5      36.2
6     35.41
7     35.41
8     35.28
9      34.2
10    33.07
11    33.07
12    31.46
13    31.34
14    31.34
15    31.16
16       30
17    29.01
18    29.01
19    25.59
20    24.57
21    24.57
22    24.02
23    24.02
24    23.41
25    23.37
26     22.2
27    21.08
28    20.49
29    20.49
      ...
36    18.13
37    18.13
38    15.52
39    15.05
40    13.36
41    13.05
42    12.36
43    12.22
44    11.51
45    11.28
46    11.15
47     8.42
48     7.54
49     7.54
50     7.15
51     7.15
52     7.04
53     6.42
54     6.42
55     6.16
56     4.58
57     4.05
58     3.05
59     2.25
60     2.25
61      2.2
62     1.57
63     1.35
64     0.54
65      0.2
Name: Time, dtype: object