In [94]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

NameError: name 'matplotlib' is not defined

In [149]:
data = pd.read_table("CalStateMBvsUCSD.txt", delimiter = '\t')
del data["HOME TEAM: UC San Diego"]
del data["VISITORS: Cal State Monterey Bay"]
del data["Score"]



data = data.dropna(0)
data = data.reset_index()
del data["index"]

margin = []

for row in data['Margin']:

    a,b = row.split(" ")
    
    if a == "V":
        b = b*(-1)
    
    row = b
    
    margin.append(b)
    
data['Margin'] = margin  

time = []

for row in data['Time']:
    row = row.replace(":",".")
    row = float(row)
    
    time.append(row)
    
data['Time'] = time
    
data

table = pd.DataFrame(columns = [data['Time'], data['Margin']])

table

#table.plot()
#data.show()

Empty DataFrame
Columns: [(19.31, 3), (18.56, 4), (18.07, 7), (17.47, 5), (17.27, 8), (16.2, 6), (15.41, 7), (15.41, 8), (15.28, 6), (14.2, 9), (13.07, 8), (13.07, 7), (11.46, 6), (11.34, 7), (11.34, 8), (11.16, 6), (10.0, 9), (9.01, 10), (9.01, 11), (5.59, 9), (4.57, 10), (4.57, 11), (4.02, 12), (4.02, 13), (3.41, 12), (3.37, 10), (2.2, 11), (1.08, 14), (0.49, 13), (0.49, 12), (0.25, 15), (0.09, 14), (20.0, 13), (19.39, 11), (18.59, 14), (18.39, 11), (18.13, 12), (18.13, 13), (15.52, 11), (15.05, 13), (13.36, 16), (13.05, 19), (12.36, 21), (12.22, 19), (11.51, 22), (11.28, 24), (11.15, 22), (8.42, 24), (7.54, 23), (7.54, 22), (7.15, 23), (7.15, 24), (7.04, 22), (6.42, 25), (6.42, 26), (6.16, 27), (4.58, 26), (4.05, 28), (3.05, 30), (2.25, 29), (2.25, 28), (2.2, 29), (1.57, 31), (1.35, 28), (0.54, 30), (0.2, 33)]
Index: []

[0 rows x 66 columns]