In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [100]:
data = pd.read_table("CalStateMBvsUCSD.txt", delimiter = '\t')
del data["HOME TEAM: UC San Diego"]
del data["VISITORS: Cal State Monterey Bay"]
#score = pd.DataFrame()
#margin = pd.DataFrame()
data.dropna(how = 'any')
#plt.figure()
#data.plot()
data

      Time  Score Margin
0    19:41    NaN    NaN
1    19:31    3-0    H 3
2    19:31    NaN    NaN
3    19:15    NaN    NaN
4    18:56    4-0    H 4
5    18:56    NaN    NaN
6    18:56    NaN    NaN
7    18:39    NaN    NaN
8    18:13    NaN    NaN
9    18:07    7-0    H 7
10   18:07    NaN    NaN
11   17:52    NaN    NaN
12   17:52    NaN    NaN
13   17:47    7-2    H 5
14   17:27   10-2    H 8
15   17:27    NaN    NaN
16   16:55    NaN    NaN
17   16:42    NaN    NaN
18   16:40    NaN    NaN
19   16:20   10-4    H 6
20   16:20    NaN    NaN
21   16:07    NaN    NaN
22   15:45    NaN    NaN
23   15:44    NaN    NaN
24   15:41    NaN    NaN
25   15:41    NaN    NaN
26   15:41   11-4    H 7
27   15:41   12-4    H 8
28   15:41    NaN    NaN
29   15:41    NaN    NaN
..     ...    ...    ...
312  02:27    NaN    NaN
313  02:27    NaN    NaN
314  02:25  66-37   H 29
315  02:25  66-38   H 28
316  02:25    NaN    NaN
317  02:25    NaN    NaN
318  02:20    NaN    NaN
319  02:20    NaN    NaN
320  02:20    NaN    NaN
321  02:20  67-38   H 29
322  02:09    NaN    NaN
323  01:57  69-38   H 31
324  01:35  69-41   H 28
325  01:19    NaN    NaN
326  01:19    NaN    NaN
327  01:19    NaN    NaN
328  01:19    NaN    NaN
329  01:19    NaN    NaN
330  01:11    NaN    NaN
331  01:11    NaN    NaN
332  01:05    NaN    NaN
333  01:04    NaN    NaN
334  01:03    NaN    NaN
335  01:00    NaN    NaN
336  00:54  71-41   H 30
337  00:54    NaN    NaN
338  00:45    NaN    NaN
339  00:20  74-41   H 33
340  00:20    NaN    NaN
341  00:08    NaN    NaN

[342 rows x 3 columns]